@inherits System.Web.Mvc.WebViewPage
<div id="headerTop">
    <div class="wrapper">
        <div id="quickStop">
            <span>QUICK STOP</span>
            <a href="/office/fra.roa">ROA</a>
            <a href="/office/fra.rcc">RCC</a>
            <a href="/office/fra.rad">RAD</a>
            <a href="/office/fra.rfm">RFM</a>
            <a href="/office/fra.rrs">RRS</a>
            <a href="/office/fra.rpd">RPD</a>
        </div>
        <div id="navGroup">
            <a class="home selected" href="#">HOME</a>
            <a class="sitemap" href="#">SITEMAP</a>
            <a class="apps" href="#">MY APPS</a>
        </div>
        <div id="searhContainer">
            <input placeholder="SEARCH" id="search" type="text" />
        </div>
    </div>
</div>
