@{
    ViewBag.Title = "Something went wrong!";
    Layout = "~/Core/Views/Shared/_LayoutGlobalNew.cshtml";
}
@using RadCms.Helpers
@section header{
    <link href="/webparts/contact/contact.css" rel="Stylesheet" type="text/css" />
    <style type="text/css">
        body
        {
            background-image: url("/Core/assets/images/errorBack.gif");
            background-repeat: repeat-x;
            background-color: #000;
        }
        
        #errorImage
        {
            padding: 7px 10px 0px 10px;
            text-align: center;
        }
        #search
        {
            position:absolute;
            left:392px;
            top:412px;
            
        }
        
        #bodyWrapper 
        {
            position:relative;
        }
    </style>
}
<div id="contentWrapper">
    <div id="errorImage">
        <img src="/Core/assets/images/404message.jpg"  alt="Page not found. Search or email @(CmsHelper.SupportEmail)."/>
    </div>
</div>
