<h2>
    Contact Us</h2>
<p>
    <strong>FRA Safety Data</strong>
</p>
<div>
    <div>
        <div>
            1200 New Jersey Avenue, SE</div>
        <div>
            Washington, DC 20590</div>
        <div>
            United States</div>
    </div>
</div>
<p>
    <a href="mailto:safeteam@dot.gov">safeteam@dot.gov</a>
</p>
<p>
    Phone: 202-493-6024
</p>
<div>
    Business Hours:
    <br />
    9:00am-5:00pm ET, M-F
</div>
